body {
  font-family: 'Poppins', sans-serif;
}

.map .sphere {
  fill: #fff;
}

.map .interiors {
  fill: none;
}

.map .countries {
  stroke-width: .3px;
  stroke: rgb(32, 32, 32);
}

.map .countries:hover {
  opacity: 0.8;
}

.routes circle {
	fill: red;
  opacity: 0.5;
}

.routes path {
  stroke: red;
  stroke-width: 1px;
  opacity: 0.5;
  fill: none;
}