body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.marks .sphere {
  fill: #fff;
}

.marks .interiors {
  fill: none;
  stroke: #fff;
}

.marks circle {
	fill: #137b80;
  opacity: 0.3;
}

.marks .route {
  stroke: #137b80;
  stroke-width: 2px;
  opacity: 0.3;
  fill: none;
}