body {
  font-family: 'Poppins', sans-serif;
}

.marks .sphere {
  fill: #fff;
}

.marks .interiors {
  fill: none;
}

.marks .countries {
  stroke-width: .3px;
  stroke: rgb(32, 32, 32);
}

.marks .countries:hover {
  opacity: 0.8;
}

.marks circle {
	fill: red;
  opacity: 0.5;
}

.marks .route {
  stroke: red;
  stroke-width: 1px;
  opacity: 0.5;
  fill: none;
}